In [1]:
import pandas as pd
import string
#Spacy trabalha por trás dos panos com redes neurais convolucionais
import spacy
import random
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
import matplotlib
%matplotlib inline

### Etapa 2: Carregamento da base de dados

In [2]:
base_dados = pd.read_csv('../Data/base_treinamento.txt', encoding = 'utf-8')

In [3]:
base_dados.shape

(196, 2)

In [4]:
base_dados.head()

                             texto   emocao
0        este trabalho é agradável  alegria
1  gosto de ficar no seu aconchego  alegria
2       fiz a adesão ao curso hoje  alegria
3       eu sou admirada por muitos  alegria
4                  adoro como você  alegria

In [5]:
base_dados.tail()

                                                 texto emocao
191  estou chocado e amedrontado com este assassina...   medo
192  é preciso afugenta com ímpeto este medo do inf...   medo
193  políticos usam suas forças para afugentar e am...   medo
194       o objetivo disso e apenas me amedrontar mais   medo
195                                    isso me apavora   medo