In [54]:
import networkx as nx
import psycopg2
import pandas as pd
from pyvis.network import Network

In [55]:
# conectando com o banco
conn = psycopg2.connect(database="db_aula", user="postgres", password="190200", host="127.0.0.1", port="5432")

In [56]:
# buscando os dados 
query = """SELECT src, tgt, rel, wgt from relacoes"""
df = pd.read_sql_query(query, conn)
g = nx.from_pandas_edgelist(df, 'src', 'tgt', edge_attr= ['rel','wgt'])

In [60]:
query = """SELECT id, nome from pessoas"""
dfnode = pd.read_sql_query(query, conn)

In [49]:
# criando o grafo
G = nx.Graph(g)

In [50]:
# plotar o grafo
nt = Network("400px", "900px", notebook = True)
nt.from_nx(G)
nt.show("grafo.html")

## Não estou conseguindo substituir os números identificadores dos nós de acordo com a tabela de nomes abaixo.
## para ficar visualmente mais fácil saber qual nó é referente a qual pessoa

In [62]:
dfnode

   id     nome
0   1  Viviane
1   2     Eloi
2   3     Jade
3   4   Camila
4   5  Eduardo

In [40]:
# número de vértices
G.number_of_nodes()

5

In [41]:
# número de arestas
G.number_of_edges()

9

In [42]:
# listar os vértices
list(G.nodes)

[2, 1, 3, 4, 5]

In [43]:
# listar as arestas
list(G.edges)

[(2, 1), (2, 3), (2, 4), (2, 5), (1, 3), (1, 4), (1, 5), (3, 4), (4, 5)]

In [44]:
#Listar quais vértices estão ligados com um vértice específico
#list(G.adj['Viviane']) 
list(G.neighbors(3))

[2, 1, 4]

In [45]:
# Grau de um vértice é o número de 'vizinhos' que ele possui
G.degree[3]

3

In [46]:
# Descobre o caminho de custo mínimo (ccm) do vértice 3 até 5 
ccm = nx.dijkstra_path(G,source = 3, target = 5)

# Mostra a sequência de vértices do caminho mínimo
print('Caminho de custo mínimo: ',ccm)

Caminho de custo mínimo:  [3, 2, 5]